@model WorkoutHelper.Domain.Models.Exercise

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exercise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MainMuscle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MainMuscle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExerciseType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExerciseType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Force)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Force)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Public)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Public)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
